name: On Push & Pull Request
on:
  push:
    branches:
      - main
      - next
      - dev
  pull_request:

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write
jobs:
  semantic-release:
    uses: ./.github/workflows/semantic-release.yml
    secrets: inherit

  service:
    uses: ./.github/workflows/service.yml
    with:
      region: us
      repository: packages
      
  docs:
    uses: ./.github/workflows/docs.yml
    with: 
      semver: ${{ needs.semantic-release.outputs.version }}
      gcp_project_id: ${{ vars.GCP_PROJECT_ID }}
      gcp_project_number: ${{ vars.GCP_PROJECT_NUMBER }}
    needs:
      semantic-release